@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

@media screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 0 auto 0 auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 0 auto 0 auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    nav {
        justify-content: center;
    }

    #navbar {
        margin: 0;
    }

    nav ul {
        padding-left: 0;
    }

    .darkmode {
        background-color: rgba(255, 255, 255, 0.9);
        margin-right: 1rem;
        position: relative;
        right: 0;
        padding: 1rem;
    }

    #li-about {
        padding-left: 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    body {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 0 auto 0 auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .row {
        flex-direction: column;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    h1 {
        text-align: center;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    nav {
        justify-content: center;
    }

    #navbar {
        margin: 0;
    }

    nav ul {
        padding-left: 0;
    }

    .darkmode {
        background-color: rgba(255, 255, 255, 0.9);
        margin-right: 1rem;
        position: relative;
        right: 0;
        padding: 1rem;
    }

    #li-about {
        padding-left: 0;
    }

    .column-1 {
        width: 100%;
        text-align: center;
    }

    #col-2 {
        margin-left: 0;
        max-width: 425px;
        width: 100%;
    }
}

body {
    max-width: 1000px;
    font-family: 'Black Han Sans', sans-serif, Arial, Helvetica, sans-serif;
    /*letter-spacing: 1px;*/
    font-size: 16px;
    margin: 0 auto 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

nav {
    margin: auto 0 auto auto;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding: 1rem;
    text-align: center;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    text-decoration: underline;
}

.darkmode {
    display: flex;
    flex-direction: column;
    margin: auto 0 auto 1rem;
    text-align: center;
    font-size: 0.75rem;
    width: fit-content;
}

.darkmode p {
    margin: 0;
}

.fa-toggle-off {
    font-size: 1.5rem;
}

.fa-toggle-off:hover {
    cursor: pointer;
}

.fa-toggle-on {
    display: none;
    font-size: 1.5rem;
    color: white;
}

.fa-toggle-on:hover {
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
}

.column-1 {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.column-1 h3 {
    text-align: left;
}

#oslo-yacht:hover {
    cursor: pointer;
}

#obnoxious:hover {
    cursor: pointer;
}

.column-1 img {
    display: none;
    border-radius: 20px;
}

.column-1 p {
    display: none;
}
 
.fa-caret-right {
    margin-right: 1rem;
}

.column-2 {
    width: 30%;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.9);
    color: white;
    padding: 0 1rem 1rem 1rem;
    border-radius: 20px;
    margin-left: 2rem;
}

.column-2 p {
    text-align: left;
}

.column-2 img {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin: 0;
}

.skills {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skills ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.skills li {
    padding: 0 1rem 0 1rem;
    font-size: 2.5rem;
}

footer {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.fa-heart {
    color: red;
}

/* SLIDESHOW */

#slideshow-img {
    max-width: 550px;
    width: 100%;
    height: auto;
}

#slideshow-img-2 {
    max-width: 550px;
    width: 100%;
    height: auto;
}

/* Contact Page */

.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 80vh;
}

.contact ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.contact li {
    padding: 0 1rem 0 1rem;
    font-size: 2.5rem;
}

#li-first {
    padding: 0 1rem 0 0;
}