body {
    max-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0 auto 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav li {
    padding: 1rem;
}

.darkmode {
    display: flex;
    flex-direction: column;
    margin: auto 0 auto 0;
    text-align: center;
    font-size: 0.75rem;
}

.darkmode p {
    margin: 0;
}

.fa-toggle-off {
    font-size: 1.5rem;
}

.fa-toggle-off:hover {
    cursor: pointer;
}

.fa-toggle-on {
    display: none;
    font-size: 1.5rem;
    color: white;
}

.fa-toggle-on:hover {
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
}

.column-1 {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-right: 2rem;
}

.column-1 h3 {
    text-align: left;
}

#oslo-yacht:hover {
    cursor: pointer;
}

#obnoxious:hover {
    cursor: pointer;
}

.column-1 img {
    display: none;
    border-radius: 20px;
}

.column-1 p {
    display: none;
}
 
.fa-caret-right {
    margin-right: 1rem;
}

.column-2 {
    width: 350px;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.9);
    color: white;
    padding: 0 1rem 1rem 1rem;
}

.column-2 p {
    text-align: left;
}

.column-2 img {
    max-width: 350px;
    border-radius: 20px;
    margin: 0;
}

.skills {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skills ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.skills li {
    padding: 0 1rem 0 1rem;
    font-size: 2rem;
}

footer {
    display: flex;
    justify-content: center;
    bottom: 0;
}

.fa-heart {
    color: red;
}

/* SLIDESHOW */

#slideshow-img {
    max-width: 550px;
}

#slideshow-img-2 {
    max-width: 550px;
}